.mh-footer {
    width: 100%;
    display: inline-block;
    background-image: url("../img/map-color-overlay.png");
    background-color: rgba(0, 0, 0, 0.12);
    text-align: center;
    text-decoration: underline;
    box-shadow: 0 2px 5px 5px rgba(175, 6, 6, 0.16);

    .footer-distributed {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        padding: 5px 50px;

        .footer-left {

            div,
            div p {
                color: #8f9296;
                font-size: 14px;
                margin: 0;
            }

            .footer-links {
                color: #ffffff;
                margin: 0 0 5px;
                padding: 0;
                transition: ease .25s;

                a {
                    display: block;
                    float: left;
                    text-decoration: none;
                    color: inherit;
                    transition: ease .25s;

                    &:hover {
                        color: rgb(107, 47, 47);
                    }

                    &:before {
                        content: "·";
                        font-size: 20px;
                        left: 0;
                        color: rgb(107, 47, 47);
                        display: inline-block;
                        padding-right: 5px;
                    }

                    &:after {
                        content: " ";
                        font-size: 20px;
                        left: 0;
                        color: rgb(107, 47, 47);
                        padding-right: 5px;
                    }
                }

                .link-1:before {
                    content: none;
                }

            }
            div:last-child{
                clear: both;
            }
        }


        .footer-right {
            float: right;
            width: 40%;
            text-align: right;

            p {
                display: inline-block;
                margin-bottom: 0;
            }

            a {
                display: inline-block;
                width: 35px;
                height: 35px;
                background-color: transparent;
                border-radius: 2px;
                text-align: center;
                line-height: 35px;
                margin-left: 3px;
                transition: all .25s;

                &:hover {
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                }

                img {
                    width: 100%;
                    vertical-align: text-bottom;
                }
            }
        }
    }
}

/* Media Queries */
@media screen and (max-width: 576px) {

    .footer-left,
    .footer-right {
        clear: both;
        text-align: center !important;
        width: 100% !important;
    }
    .footer-right {
        float: none;
        margin: 5px auto 20px;
        border-bottom: 1px solid rgb(107, 47, 47);
    }

    .footer-links {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        a  {
            &:before {
                content: none !important;
                font-size: 20px;
                left: 0;
                color: rgb(107, 47, 47);
                display: inline-block;
                padding-right: 5px;
            }
        }
    }

}




//     a {
//         &:hover{
//             color: rgb(116, 15, 15);
//         }
//     }

//     .map-image {
//         background-image: url(../img//map-color-overlay.png);
//     }

//     .image-bg {
//         background-position: center center;
//         background-repeat: no-repeat;
//         background-size: cover;
//         margin: 0 auto;
//     }

//     ul li {
//         flex: 1 0 15%;

//         img {
//             width: 100%;
//         }

//         &:active .fab {
//             color: rgb(116, 15, 15);

//         }

//         &:hover .fab {
//             color: rgb(116, 15, 15);

//         }
//     }

//     .mobile {
//         display: flex;
//         flex-wrap: wrap;
//         row-gap: 10px;
//         padding: 10px 0;
//         height: aut
//         o;
//         justify-content: space-around;

//         .link {
//             &>a {
//                 font-size: 1em;

//                 &:active {
//                     color: red;
//                 }
//             }
//         }

//         .mh-copyright{
//             &>p {
//                 margin: 0;
//             }

//         }

//         .social-icon,
//         .mh-copyright {
//             width: 100%;
//             text-align: center;
//         }

//         .social-icon {
//             display: flex;
//             justify-content: center;
//         }

//     }
// }

// @media screen and (min-width: 576px) {}

// @media screen and (max-width: 576px) {}

// @media screen and (max-width: 768px) {}

// @media screen and (min-width: 576px) and (max-width: 991px) {}

// @media screen and (max-width: 991px) {}

// @media screen and (min-width: 992px) {

//     .mh-copyright {
//         margin-top: 0px;
//     }

// }