// Variables 

// Estructuras  
$border: 1px solid;
$border-radio: 8px;
$separacion-div: 1%;
$separacion-lineas: 2;
$font-list: (2rem, 1.75rem, 1.5rem, 1.25rem, 1rem, 0.75rem);
$font-size-generic: 1rem;
$list-style: circle;

// Colores 
$contenidoCV-background-blue: rgb(198, 213, 228);
$sidebar-background-blue: rgb(15, 40, 95);
$contenidoCV-background-green: rgb(223, 245, 237);
$sidebar-background-green: rgb(11, 66, 59);
$sidebar-color: white;
//Color tema
$blue-theme: true;
$green-theme: false;
//Color tabla
$color-row-list-blue: rgb(180, 205, 252),
rgb(158, 191, 252),
rgb(148, 183, 248),
rgb(126, 162, 235),
rgb(113, 151, 226),
rgb(94, 135, 216);
$color-row-list-green: rgb(168, 238, 195),
rgb(139, 236, 183),
rgb(129, 224, 176),
rgb(109, 199, 154),
rgb(89, 187, 146),
rgb(81, 187, 137);