//// @author Estefanía Ortiz

//Colores generales

// Color tema
///Variable que da color del tema azul
/// @group colores
$color-theme: rgb(236, 195, 195);
$color-font-theme: rgb(70, 69, 69);
$color-white: white;
$blue-theme: true;

