/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */

/*
  ===============
      Generic
  ==============
  */

  * {
    box-sizing: border-box;
}
.dark-bg {
    background-color: #202026;
}

.dark-vertion div {
    color: #fff;
}

body {
    background-color: #100e17;
    color: #999999;
    font-family: "Baloo 2";
    font-size: 14px;
    font-style: none;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    position: relative;
    text-align: left;
    opacity: 0.9;
    overflow-x: hidden !important;
}

header,
section,
footer {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding: 0;
}

a {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 0px;
    text-decoration: none !important;
    transition: color 0.3s ease;
    opacity: 0.9;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    opacity: 0.9;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
}

h3 {
    color: #fff;
    font-weight: bold;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
}

.section-separator {
    padding: 60px 0;
}

.container {
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.img-color-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.social-icon {
    display: inline-block;
}

.social-icon li {
    float: left;
    margin-bottom: 0px;
    margin-right: 8px;
}

.social-icon li a {
    border-radius: 50%;
    text-align: center;
    padding: 10px;
}

.mh-about .button-down, .btn-form{
    background-color: #0bceaf;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.75;
    padding: 8px 30px;
    transition: opacity 0.3 ease;
}

.mh-about .button-down:hover,.btn-form:hover {
    opacity: 1;
}

/*
  ===============
      Header
  ==============
  */
header {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    left: 0;
    padding: 20px 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;

}

.mh-header .logo::first-letter {
    color: #0bceaf;
    font-size: 2.3rem;
}
.mh-header .logo {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bolder;
}

/*
  ===============
      Home
  ==============
  */

.mh-home {
    background-image: url(../img/photoBack.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.img-foverlay {
    background-color: rgba(0, 0, 0, 0.9);
}

/*
  ===============
      Photo
  ==============
  */
.img-border {
    background-image: url(../img/_DSC6961.jpg);
    background-position: center center;
    background-size: cover;
    border: 20px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    box-shadow: 0 0 1rem 1rem rgb(2, 2, 2);
    height: 350px;
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 350px;
}

/*
  ===============
      Info
  ==============
  */

.mh-promo span {
    background-color: #0bceaf;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}

.mh-promo {
    animation-name: globo;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-direction: alternate; 
    animation-timing-function: linear;
    animation-iteration-count: 2;
}

.mh-home .mh-header-info h4 {
    margin-bottom: 30px;
}

.mh-home .mh-header-info {
    padding-top: 100px;
}

.mh-header-info ul {
    margin-top: 20px;
}

.mh-header-info ul li {
    margin: 10px 0;
}

.mh-header-info ul li .fa {
    margin-right: 15px;
    display: inline-block;
}

.mh-home .mh-header-info ul li:hover .fa {
    color: #0bceaf;
}

address {
    display: inline;
}

.mh-home .mh-header-info .social-icon {
    margin-top: 0;
}

.mh-home .mh-header-info .social-icon li a {
    font-size: 25px;
    margin-right: 0;
    padding: 0;
    
}

.mh-home .mh-header-info .social-icon li .fa {
    border-radius: 3px;
    font-size: 18px;
    line-height: 30px;
    margin-right: 10; 
    padding: 4px 14px;
}

.mh-home .social-icon li .fa:hover {
    background-color: #fff;
}

/*
  ===============
      About me generic
  ==============
  */
.mh-about-inner {
    padding-left: 50px;
}

.mh-about-inner h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.mh-about-inner p {
    margin-bottom: 30px;
}

.mh-about-tag {
    margin-bottom: 10px;
    margin-top: 10px;;
}

.mh-about-tag ul li, .mh-about-tag ul li span {
    border-radius: 4px;
} 

.mh-about-tag ul li {
    display: inline-block;
    margin: 0px 6px;
    margin-bottom: 10px;
    padding: 4px 0px;
}

.mh-about-tag ul li span {
    border: 1px solid #0bceaf;
    padding: 4px 10px;
}

.mh-about .button-down {
    display: inline-block;
    outline: 0;
    margin-top: 20px;
}

.mh-about .button-down:last-child {
    margin-right: 0px !important;
}



/*
  ===============
      About me Technical Skill generic
  ==============
  */
.mh-skills .mh-professional-skill {
    padding-right: 60px;
}

.mh-professional-skill h3 {
    margin-top: 0;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

.candidatos {
    position: relative;
    margin-bottom: 15px;
}

.candidatos .parcial {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.candidatos .parcial .info {
    position: relative;
}

.candidatos .parcial .info .nome {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9;
}

.candidatos .parcial .info .percentagem-num {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: normal;
}

.candidatos .parcial .progressBar {
    background-color: rgba(199, 198, 198, 0.6);
    position: relative;
    width: 100%;
    height: 7px;
    margin: 30px 0 2px;
    border-radius: 10px;
}

.candidatos .parcial .percentagem {
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0bceaf;
    transition: 3s all;
}

/*
  ===============
      About me Proffesional Skills generic
  ==============
  */

.mh-professional-skills h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

.mh-professional-progress li {
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center;
    position: relative;

    /* width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff ;
    box-shadow: 0 30px 60px rgba(0,0,0,.2); */
}

/* .mh-progress-circle {
    position: relative;
    width: 150px;
    height: 150px;
} */

.mh-progress-circle svg {
    position: relative;
    width: 110px;
    height: 110px;
    z-index: 1000;
}

.mh-progress-circle svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 5;
    stroke: rgba(199, 198, 198, 0.6);
    transform: translate(5px, 5px);
    stroke-linecap: round;
}

.mh-progress-circle svg circle:nth-child(2) {
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
}

.mh-professional-progress li:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: 62.8;
    /* calc(440 - (440 * 80) / 100); */
    stroke: #0bceaf;
}

.mh-professional-progress li:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: 15.7;
    /* calc(440 - (440 * 95) / 100); */
    stroke: #0bceaf;
}

.mh-professional-progress li:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: 125.6;
    /* calc(440 - (440 * 60) / 100); */
    stroke: #0bceaf;
}

.mh-professional-progress li:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: 78.5;
    /* calc(440 - (440 * 75) / 100); */
    stroke: #0bceaf;
}

.progressbar-text {
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    height: 50%;
    font-weight: bold;
    font-size: 25px;
    color: rgb(109, 108, 108);
    transition: 0.5s;
    /* 
    display: flex;
    justify-content: center;
    align-items: center;
     */
}

.progressbar-text span {
    font-size: 18px;
}

.mh-progress:hover .progressbar-text {
    color: #fff;
    transition: 0.5s;
}

.mh-progress:hover .progressbar-text,
.mh-progress:hover .pr-skill-name {
    color: #fff;
    transition: 0.5s;
}

.pr-skill-name {
    padding: 10px 0 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;

}

/*
  ===============
      Works generic
  ==============
  */
.mh-work {
    background-image: url(../img/photoBack.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.mh-work .row {
    margin-right: -15px;
    margin-left: -15px;
}

.mh-exercice {
    padding-right: 30px;
}

.mh-work h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

.mh-exercice-deatils .mh-exercice-item:hover {
transform: translateY(-10px);
box-shadow: 0 15px 35px;
}

.mh-work .mh-exercice-deatils .mh-exercice-item {
    box-shadow: -1rem 0 3rem #000;
    margin-bottom: 30px;
    padding: 26px 30px;
    border-radius: 4px;
}

.mh-work .mh-exercice-deatils .mh-exercice-item h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.mh-work .mh-exercice-deatils .mh-exercice-item h4 a {
    font-style: italic;
    margin-left: 4px;
    color: #0bceaf;
    border: 1px solid #0bceaf;
    padding: 4px 10px;
    border-radius: 4px;
    float: right;


}
.mh-work .mh-exercice-deatils .mh-exercice-item h4 a:hover {
    background-color: #fff;
    transition: 0.5s;
}

.mh-work .mh-exercice-deatils .mh-exercice-item .mh-eduyear {
    margin: 10px 0;
    color: #0bceaf;
}

.mh-work .mh-exercice-deatils .mh-exercice-item p {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 0;
}

/*
  ===============
      Footer generic
  ==============
  */
.container-footer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section-title {
    text-align: center;
}

.section-title h3 {
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

.map-image {
    background-image: url(../img//map-color-overlay.png);

}

.image-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

}

.mh-footer .row {
    margin-right: -15px;
    margin-left: -15px;
}

.mt-30 {
    margin-top: 30px;
}

.mh-footer-address {
    margin-bottom: 60px;
}

.mh-footer-address .mh-address-footer-item {
    padding: 10px 30px;
    border-radius: 4px;
    box-shadow: -1rem 0 3rem #000;
    margin-bottom: 15px;
}

.mh-footer-3 .mh-footer-address .mh-address-footer-item h4 {
    margin-bottom: 10px;
    margin-top: 10px;

}

.mh-footer-address .mh-address-footer-item address {
    margin-bottom: 0;
    font-style: normal;
    line-height: inherit;
}

.mh-footer-address .mh-address-footer-item .each-icon {
    text-align: center;
    margin-bottom: 30px;
}

.mh-footer-address .mh-address-footer-item .each-icon .fa {
    text-align: center;
    border: 1px solid #0bceaf;
    border-radius: 50%;
    font-size: 20px;
    width: 100px;
    height: 100px;
    line-height: 100px;

}

.mh-footer-3 .mh-footer-address .mh-address-footer-item .each-info {

    text-align: center;
}



#space {
    margin-top: 20px;
    margin-bottom: 30px;
}

input,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
}

.form-control {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;

}

textarea {
    overflow: auto;
    resize: vertical;
}

.mh-footer .contact-message {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    outline: 0;
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
}

.btn-form {
    line-height: 1.5;
    width: 100%;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.mh-copyright {
    margin-top: 60px;
}
.text-left.text-xs-center {
    text-align: right;
}

.mh-footer ul li:hover .fa {
    color: #0bceaf;
}



@media screen and (max-width: 420px) {
    .img-border {
        width: 280px;
        height: 280px;
    }
}

@media screen and (min-width: 576px) {

    /*
  ===============
      General min 576px
  ==============
  */
    .container {
        max-width: 560px;
    }
    /*
  ===============
      About min 576px
  ==============
  */

    .mh-about .item-2 {
        margin-top: 30px;
    }

    .mh-work h3 {
        text-align: center;
    }
    /*
  ===============
      Footer min 576px
  ==============
  */

    .tablet-all {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 576px) {

    /*
  ===============
      General 576px
  ==============
  */
    .mobile {
        position: relative;
        width: 100%;
        min-width: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .section-separator {
        padding: 30px 0;
    }

    /*
  ===============
      Home 576px
  ==============
  */

    .mh-header-info {
        padding: 0;
        text-align: center;
        margin-top: 40px;
    }

    .social-icon {
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    .social-icon li {
        display: inline-block;
    }

    .social-icon li a {
        height: 30px;
        margin-right: 0;
        width: 30px;
    }

    /*
  ===============
      About me 576px
  ==============
  */
    .mh-about {
        margin-bottom: 60px;
    }

    .mh-about-inner {
        padding-left: 5px;
        text-align: center;
        margin: 30px 15px;
    }

    /*
  ===============
      Professional Skill 576px
  ==============
  */
    .mh-about .mh-professional-skill {
        padding-left: 0;
    }

    /*
  ===============
    Works 576px
  ==============
  */
    .mh-exercice {
        margin-bottom: 30px;
        padding-right: 0;
    }

    .mh-work h3 {
        margin-bottom: 30px;
        text-align: center;
    }

    /*
  ===============
    footer 576px
  ==============
  */
    .xs-no-padding {
        padding: 0;
    }

    .mh-footer-3 .mh-footer-address .mh-address-footer-item {
        display: block;
        padding: 20px 0px;
        text-align: center;
    }

    .text-left.text-xs-center {
        text-align: center;
    }
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .mh-home .home-padding {
        padding: 150px 0;
    }



}

@media screen and (max-width: 768px) {

    /*
  ===============
      About me max 768px
  ==============
  */
    .mh-about-inner {
        margin-top: 40px;
    }



    /*
  ===============
      About me max Technical Skill 768
  ==============
  */

    .mh-professional-skill h3 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /*
  ===============
      About me max Proffesional Skills 768
  ==============
  */

    .mh-professional-skills h3 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /*
  ===============
      footer max 768
  ==============
  */
    .mh-footer-address .mh-address-footer-item .each-icon .fa {
        width: 70px;
        height: 70px;
        line-height: 70px;
    }



}

@media screen and (min-width: 576px) and (max-width: 768px) {

    /*
  ===============
    Works 768px
  ==============
  */
    .mh-exercice {
        padding-right: 0;
    }

    /*
  ===============
    Works 768px
  ==============
  */

    .mh-work h3 {
        margin-bottom: 30px;
    }




}

@media screen and (min-width: 576px) and (max-width: 991px) {
    /*
  ===============
      General min 576 max 991px
  ==============
  */

    .section-separator {
        padding: 40px 0;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .mobile {
        position: relative;
        width: 100%;
        min-width: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .tablet {
        flex: 0 0 50%;
        max-width: 50%;
    }

    /*
  ===============
      Header min 576px max 991px
  ==============
  */


    .mh-header-overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 3;
    }

    .mh-header nav {
        padding: 0;
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    /*
  ===============
      Home min 576px max 991px
  ==============
  */
    .vertical-middle-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .mh-home .mh-header-info {
        padding: 0;
    }

    .mh-home .photo {
        order: 2;
    }

    .mh-about .section-separator {
        padding: 40px 0;
    }

    /*
  ===============
      Footer min 576px max 991px
  ==============
  */
    .media-flex {
        display: flex;
        align-items: flex-start;
    }

    .each-info {
        flex: 1;
    }

}

@media screen and (max-width: 991px) {

    /*
  ===============
      Header max 991px
  ==============
  */
    .mobile-menu {
        background-color: transparent;
        display: block;
        margin: 0 auto;
        position: relative;
        width: 100%;
    }

    /*Strip the ul of padding and list styling*/
    .mobile-menu ul {
        background-color: transparent;
        border: 0.15rem solid black;
        display: none;
        margin: 0 auto;
        margin-top: 1rem;
        position: absolute;
        position: static;
        text-align: right;
        width: 100%;
    }

    .mobile-menu label {
        float: right;
    }

    .mobile-menu li {
        display: inline-block;
        margin-bottom: 0;
    }

    /*Style for menu links*/
    .mobile-menu li a {
        background-color: #202026;
        display: block;
        padding: 10px 0;
        text-align: center;
        text-transform: normal;
        transition: all 0.4s ease 0s;
    }

    /*Hover state for top level links*/
    .mobile-menu li:hover a {
        background-color: lightgray;
        color: rgba(0, 0, 0, 0.5);
    }

    /*Hover state for dropdown links*/
    .mobile-menu li:hover .mobile-menu ul a:hover {
        color: lightgray;
    }

    /*Hide dropdown links until they are needed*/
    .mobile-menu li ul {
        display: none;
    }

    /*Make all menu links full width*/
    .mobile-menu ul li,
    .mobile-menu li a {
        width: 100%;
    }

    /*Hide checkbox*/
    .mobile-menu input[type="checkbox"] {
        display: none;
    }

    /*Show menu when invisible checkbox is checked*/
    .mobile-menu input[type="checkbox"]:checked~#menu {
        display: block;
    }

    /*
  ===============
      Home max 991px
  ==============
  */


    .mh-home .home-padding {
        padding: 100px 0;
    }

    h1 {
        font-size: 42px;
        font-weight: 600;
        line-height: 54px;
    }

    .mh-home .mh-header-info h4 {
        font-size: 20px;
        line-height: 24px;
    }


    .mh-home .mh-header-info .mh-promo {
        margin-bottom: 30px;
    }

    /*
  ===============
      About me max 991px
  ==============
  */
    .mh-about-inner {
        padding-left: 5px;
    }

    /*
  ===============
      About me max  Technical Skill 991px
  ==============
  */
    .mh-skills .mh-professional-skill {
        padding-right: 0;
    }

    /*
  ===============
      About me max  Proffesional Skills 991px
  ==============
  */
    .mh-professional-skills {
        padding-left: 0;
    }

    .mh-professional-skills {
        display: none;
    }

    /*
  ===============
      Footer max  991px
  ==============
  */

    .mh-footer-address .mh-address-footer-item .each-icon .fa {
        height: 60px;
        line-height: 60px;
        width: 60px;
    }

}


@media screen and (min-width: 992px) {

    /*
  ===============
      Generic min 991px
  ==============
  */
    .container {
        max-width: 960px;
    }

    /*
  ===============
      Header min 991px
  ==============
  */
    nav {
        display: grid;
        grid-template-columns: 20% 80%;
        justify-content: center;
        justify-items: center;
    }

    nav input,
    .buttonMenu {
        display: none;
    }

    .logo {
        font-weight: 900;
        font-size: 1.4rem;
        justify-self: start;
    }

    nav ul {
        display: grid;
        grid-template-columns: repeat(4, 100px);
        grid-gap: 100px;
        justify-content: center;
        justify-items: center;
    }

    nav ul li:hover {
        border-bottom: 2px solid #0bceaf;
    }

   /*
  ===============
      Home min 991px
  ==============
  */
    .mh-home .row {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-evenly;
        justify-items: center;
    }

    .mh-home .photo {
        align-self: flex-end;
    }

    .mh-home .mh-header-info .mh-promo {
        margin-bottom: 30px;
    }

    .mh-home .mh-header-info h1 {
        font-size: 60px;
        font-weight: 600;
        line-height: 65px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .mh-home .mh-header-info h4 {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    /*
  ===============
      About me min 991
  ==============
  */

    .mh-about .row {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-flow: column;
        grid-gap: 20px
    }

    .mh-about .row .item-1{
        grid-column: 1 / 1;
    }

    .mh-about .row .item-2{
        grid-column: 1 / 3;    
        justify-self: center;
        width: 70%; 
    }

    .mh-about .row .item-3 {
        grid-column: 2 / 2;
    }

    .progressbar-text{
        top: 40px;
    }

    /*
  ===============
      Works min 991
  ==============
  */

    .mh-work .section-separator{
        padding: 60px 0;
    }

    .mh-work .mh-exercice h3{
        margin-bottom: 50px;
        width: 100%;
    }

    .mh-exercice-deatils{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 40px
    }

        /*
  ===============
      Contact min 991
  ==============
  */

  .mh-footer .container .row:first-child {
      display: grid;
      grid-template-columns: 40% 40%;
      grid-gap: 60px;
      justify-content: center;

  }
  .mh-footer .container .mh-copyright{
    grid-column: 1 / 3;
    justify-self: center;
    width: 100%;
}

.mh-footer-3 .mh-footer-address .mh-address-footer-item {
    align-items: center;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
}

.mh-footer .container .mh-copyright{
    display: grid;
    grid-template-columns: 100%;

}

.mh-footer-3 .mh-footer-address .mh-address-footer-item .each-info {
    padding-left: 20px;
}

.mh-copyright {
    margin-top: 0px;
}

}



@media screen and (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}
