* {
    box-sizing: border-box;
}
header {
    font-family: 'Baloo 2';
    background-color:rgb(94, 122, 153);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    color: white;
    padding: 1%;
    text-align: center;
    margin-bottom: 1%;
}
header h1, header h2 {
    margin: 0%;
}
header h1 {
    margin-bottom: 1%;
}