/* Estilos generales */
* {
    color: rgb(66, 82, 102);
    box-sizing: border-box;
    font-family: "Baloo 2";
}
body {
    margin: 0 auto;
}

section, footer, aside {
border-top-left-radius: 5%;
border-top-right-radius: 5%;
}
/* Reseteo */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
a {
    color: white;
    text-decoration: none;
}
/* Colores generales */
h4 {
    color: rgb(81, 102, 128);
}
header div h4, header div h1, header div h3, section h3, aside h3, nav {
    color: white;
}
footer, section h3, aside h3 {
    background-color: rgb(94, 122, 153);
}

/* Cabecera y nav */
header {
    background-image: url("../img/imgHeader.jpg");
    background-size: cover;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 5%;
}
nav {
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgb(182, 203, 226) ;
    font-weight: bold;
    margin: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: sticky;
    text-align: center;
    top: 0px;  
}
nav li {
    display: inline-block;
    vertical-align: middle;
    width: 31%;
}
nav a {
    color: rgb(81, 102, 128);
    
}
nav a:hover {
    color: white;
    background-color: rgb(94, 122, 153);
    padding: 1%;
    width: auto;
}
 nav li:hover {
    background-color: white;
    color: rgb(94, 122, 153);
} /**/
/* Section */
section, aside {
    background-color: rgb(182, 203, 226);
    margin: 1%;
}

section div, aside div {
    margin: 2% 3%;
    padding: 2%;
}

section h3, aside h3 {
    padding: 3%;
    border-top-left-radius: 5%;
    border-top-right-radius: 105%;
}
img {
    border-radius: 10%;
    box-shadow: -5px 5px 10px 0px rgb(247, 246, 242);
    float: left;
    margin-right: 5%;
    width: 30%;
}
table {
    border-collapse: inherit;
    border: 1px solid;;
    border-color: rgb(81, 102, 128);
    color: rgb(66, 82, 102);
    padding: 0.5rem;
}
th {
    color: rgb(81, 102, 128);
    border-bottom: 1px solid;
}
tr td:nth-last-child(1) {
    text-align: center;
    font-size: small;
}
/* table th:hover, table td:hover {
    background-color: rgb(81, 102, 128);;
    color: white;
} */
