/* Reseteo */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5, li {
    margin: 0;
}
a {
    text-decoration: none;
}
/* Estilos generales */
* {
    color: rgb(66, 82, 102);
    box-sizing: border-box;
    font-family: "Baloo 2";
}

body {
    margin: 0 auto;
}

aside,
footer,
section {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

/* Colores generales */
h4 {
    color: rgb(81, 102, 128);
 
}

a,
aside h3,
header div h1,
header div h3,
header div h4,
nav,
nav a:hover,
section h3, #trabajos a:hover  {
    color: white;
}

aside h3,
footer,
section h3, nav a:hover, #trabajos a:hover {
    background-color: rgb(94, 122, 153);
}

/* Cabecera y nav */
header {
    background-image: url("../img/inicio/imgHeader.jpg");
    background-size: cover;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 5%;
}

nav {
    background-color: white;
    box-shadow: 0 0 5px 2px rgb(182, 203, 226);
    font-weight: bold;
    margin: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: sticky;
    text-align: center;
    top: 0;
}

nav li {
    display: inline-block;
    vertical-align: middle;
    width: 31%;
}

nav a {
    color: rgb(81, 102, 128);
    padding: 1%;
}

nav a:hover {
    border-radius: 20%;
    padding: 2%;
}

/* Section */
aside,
section {
    background-color: rgb(182, 203, 226);
    margin: 1%;
}

aside div,
section div {
    margin: 2% 3%;
    padding: 2%;
}

aside h3,
section h3 {
    padding: 3%;
    border-top-left-radius: 5%;
    border-top-right-radius: 105%;
}

img {
    border-radius: 10%;
    box-shadow: -5px 5px 10px 0 rgb(247, 246, 242);
    float: left;
    margin-right: 5%;
    width: 30%;
}

.modulos div {
    text-align: center;
}

table {
    margin: 0px auto;
    border-collapse: inherit;
    border: 1px solid  rgb(81, 102, 128);
    border-radius: 10%;
    padding: 0.5rem;
}

th {
    color: rgb(81, 102, 128);
    border-bottom: 1px solid;
}

tr td:nth-last-child(1) {
    text-align: center;
    font-size: small;
}

/* Trabajos */
#trabajos a {
    color:rgb(79, 73, 73);
    padding-right: 1%;
    padding-left: 1%;
}

#trabajos a:hover {
    border-radius: 10%;
}

.izq {
    margin: 0;
    float: left;
    width: 30%;
}

/* Footer */
i {
    margin-right: 1%;
}

